
MSA/.vs/MSA/v16/.suo
*.v2
MSA/Catalog.API/obj/Catalog.API.csproj.nuget.dgspec.json
MSA/Catalog.API/obj/Catalog.API.csproj.nuget.dgspec.json
MSA/Catalog.API/obj/Catalog.API.csproj.nuget.g.props
MSA/Catalog.API/obj/Debug/netcoreapp3.1/Catalog.API.assets.cache
MSA/Catalog.API/obj/Debug/netcoreapp3.1/Catalog.API.csprojAssemblyReference.cache
MSA/Catalog.API/obj/project.assets.json
MSA/Catalog.API/obj/project.nuget.cache
MSA/Catalog.API/obj/project.nuget.cache
